<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="{{ .Description | default .Site.Params.Description }}">
    <meta name="keywords" content="Flow , Lean , Agile , Kanban , Continuous Delivery">
    <meta name="reply-to" content="contact@flowcon.io">
    <meta name="category" content="conference">
    <meta name="author" content="FlowCon France">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <!-- ========== Title ========== -->
    <title>{{ .Title | default .Site.Title }}</title>
    <!-- ========== Favicon Ico ========== -->
    <link rel="icon" href="/img/favicon.ico">
    <!-- ========== STYLESHEETS ========== -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous">
    <!-- Fonts Icon CSS -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css"> -->
    <!-- <link href="/css/font-awesome.min.css" rel="stylesheet"> -->
    <!-- <link href="/css/et-line.css" rel="stylesheet"> -->
    <!-- <link href="/css/ionicons.min.css" rel="stylesheet"> -->
    <!-- Carousel CSS -->
    <!-- <link href="/css/owl.carousel.min.css" rel="stylesheet"> -->
    <!-- <link href="/css/owl.theme.default.min.css" rel="stylesheet"> -->
    <!-- Animate CSS -->
    <!-- <link rel="stylesheet" href="/css/animate.min.css"> -->
    <!-- Custom styles for this template -->

    {{ $fontAwesome := resources.Get "css/font-awesome.min.css" }}
    {{ $owlStyle := resources.Get "css/owl.carousel.min.css" }}
    {{ $custom := resources.Get "scss/main.scss" | toCSS | minify }}

    {{ $css := slice $fontAwesome $owlStyle $custom | resources.Concat "css/bundle.css" }}
    <link href="{{ $css.Permalink }}" rel="stylesheet" media="screen">
    <noscript>
        <style>
            .loader {
                display: none
            }
        </style>
    </noscript>
    <script>
        function initFreshChat() {
            //window.fcWidget.init({
            //    token: "3793604a-dc98-4b15-a364-4dfdc1921bfd",
            //    host: "https://wchat.freshchat.com"
            //});
        }
        function initialize(i, t) { var e; i.getElementById(t) ? initFreshChat() : ((e = i.createElement("script")).id = t, e.async = !0, e.src = "https://wchat.freshchat.com/js/widget.js", e.onload = initFreshChat, i.head.appendChild(e)) } function initiateCall() { initialize(document, "freshchat-js-sdk") } window.addEventListener ? window.addEventListener("load", initiateCall, !1) : window.attachEvent("load", initiateCall, !1);</script>
</head>
