---
---

<a class="anchor" id="about"></a>
<section class="pt50 pb50">
    <div class="container">
        <div class="section_title">
            <h3 class="title">
                What is FlowCon France ?
            </h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <p style="text-align: justify;">
                    FlowCon has been bringing together software development professionals for 10 years around a main concept: product development flow, whether Lean Kanban (originally), agility, Lean, Continuous Delivery, the Beyond Budgeting, and all the international thoughts on how to work better as a team. All the organizers, speakers, sponsors and participants come together around these questions.
                </p>
                <p style="text-align: justify;">
                    Attendees come to FlowCon to experience a selection of talks from around the world. Flowcon claims a mix of participants, from the developer to the boss, rarely gathered in the same place, and all concerned by common subjects.
                </p>
                <p style="text-align: justify;">
                    Flowcon has become a key conference for the French Agile community, with the ambition to go beyond our borders. Hosted by renowned national and international speakers, the conference addresses the topics at the heart of the concerns of modern agility.
                </p>
                <h1>Our manifesto</h1>
                <p>
                    Products RATHER THAN projects
                    <br/>
                    The team RATHER THAN the individual
                    <br/>
                    Value RATHER THAN effort
                    <br/>
                    Continuous RATHER THAN batches
                </p>
                <p>
                    FlowCon has also an associated meetup with regular events: 
                    <a target="_blank" href="https://www.meetup.com/fr-FR/FlowCon-France-Meetup/">https://www.meetup.com/fr-FR/FlowCon-France-Meetup/</a>
                </p>
            </div>
        </div>
        <div class="row justify-content-center mt30">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <i class="fa fa-diamond"></i>
                    <div class="content">
                        <h4>Our value</h4>
                        <p>
                            A deep dive into software product development flow
                        </p>
                        <!--a href="#">more</a-->
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <i class="fa fa-plane"></i>
                    <div class="content">
                        <h4>International</h4>
                        <p>
                            Speakers are coming from all around the world
                        </p>
                        <!--a href="#">more</a-->
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <i class="fa fa-hourglass"></i>
                    <div class="content">
                        <h4>2 days</h4>
                        <p>
                            2 days of conferences in a large venue
                        </p>
                        <!--a href="#">more</a-->
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <i class="fa fa-th"></i>
                    <div class="content">
                        <h4>3 tracks</h4>
                        <p>
                            3 tracks with 30+ talks and workshops
                        </p>
                        <!--a href="#">more</a-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
