<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>
    <div class="loader">
        <div class="loader-outter"></div>
        <div class="loader-inner"></div>
    </div>

    {{ partial "header.html" . }}

    <!--cover section slider -->
    <section id="home" class="home-cover">
        <div class="cover_slider owl-carousel owl-theme">
            <div class="cover_item" style="background: url('/img/bg/slider1.jpg');">
                <div class="slider_content">
                    <div class="slider-content-inner">
                        <div class="container">
                            <div class="slider-content-center">
                                <h2 class="cover-title">
                                    <!--Prepare yourself for-->
                                </h2>
                                <strong class="cover-xl-text">FlowCon</br>France</strong>
                                <p class="cover-date">
                                    1-2 {{ .Params.april }} 2025
                                </p>
                                <a href="https://flowcon.io" class=" btn btn-primary btn-rounded">
                                    FLOWCON 2025
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cover_item" style="background: url('/img/bg/slider2.jpg');">
                <div class="slider_content">
                    <div class="slider-content-inner">
                        <div class="container">
                            <div class="slider-content-center">
                                <h2 class="cover-title">
                                    <!--Prepare yourself for-->
                                </h2>
                                <strong class="cover-xl-text">FlowCon</br>France</strong>
                                <p class="cover-date">
                                    1-2 {{ .Params.april }} 2025
                                </p>
                                <a href="https://flowcon.io" class=" btn btn-primary btn-rounded">
                                    FLOWCON 2025
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cover_item" style="background: url('/img/bg/slider3.jpg');">
                <div class="slider_content">
                    <div class="slider-content-inner">
                        <div class="container">
                            <div class="slider-content-center">
                                <h2 class="cover-title">
                                    <!--Prepare yourself for-->
                                </h2>
                                <strong class="cover-xl-text">FlowCon</br>France</strong>
                                <p class="cover-date">
                                    1-2 {{ .Params.april }} 2025
                                </p>
                                <a href="https://flowcon.io" class=" btn btn-primary btn-rounded">
                                    FLOWCON 2025
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cover_nav">
            <ul class="cover_dots">
                <li class="active" data="0"><span>1</span></li>
                <li data="1"><span>2</span></li>
                <li data="2"><span>3</span></li>
            </ul>
        </div>
    </section>
    <!--cover section slider end -->

    <!--event info -->
    <section class="pt10 pb50">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-8 col-md-3">
                    <div class="icon_box_two">
                        <i class="fa fa-bell" aria-hidden="true"></i>
                        <div class="content">
                            <h5 class="box_title">
                                DATE
                            </h5>
                            <p>
                                1-2 {{ .Params.april }} 2025
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-8 col-md-3">
                    <div class="icon_box_two">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <div class="content">
                            <h5 class="box_title">
                                {{ .Params.location }}
                            </h5>
                            <p>
                                <a href="/location">Close to Paris</a>
                            </p>
                        </div>
                    </div>
                </div>

                <!--
                <div class="col-8 col-md-3">
                    <div class="icon_box_two">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <div class="content">
                            <h5 class="box_title">
                                {{ .Params.program }}
                            </h5>
                            <p>
                                <a href="https://flowcon22.sched.com/">On sched</a>
                            </p>
                        </div>
                    </div>
                </div>
                -->


            </div>
        </div>
    </section>
    <!--event info end -->


    <!--event countdown -->
    <section class="bg-img pt70 pb70" style="background-image: url('/img/bg/counter-bg.jpg');">
        <div class="overlay_dark"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10">
                    <h4 class="mb30 text-center color-light">Starting in</h4>
                    <div class="countdown"></div>
                </div>
            </div>
        </div>
    </section>
    <!--event count down end-->


    <!--about the event -->
    {{ with .Site.GetPage "/about" }}{{ .Content }}{{ end }}
    <!--about the event end -->


    <!--previously -->
    <a class="anchor" id="previously"></a>
    <section class="pt50 pb50">
        <div class="container">
            <div class="section_title">
                <h3 class="title">
                    {{ .Params.previous_editions }}
                </h3>
            </div>
            <div class="row justify-content-left mt30">
                <div class="col-12 col-md-6">
                    <a href="https://www.infoq.com/fr/flowcon" target="_blank">
                        <div class="icon_box_one">
                            <i class="fa fa-video-camera"></i>
                            <div class="content">
                                <h4>InfoQ</h4>
                                <p>{{ .Params.previous_editions_videos }} - InfoQ</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6">
                    <a href="https://www.youtube.com/channel/UCfhbhmrr8bi28jplf6ADt2w/videos" target="_blank">
                        <div class="icon_box_one">
                            <i class="fa fa-video-camera"></i>
                            <div class="content">
                                <h4>Youtube</h4>
                                <p>{{ .Params.previous_editions_videos }} - Youtube</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row justify-content-left mt30">
                <div class="col-2">
                    <a href="https://flowcon18.sched.com/" target="_blank">
                        <div class="icon_box_one">
                            <div class="content text-center">
                                <h4>2018</h4>
                                <p>{{ .Params.previous_editions_content }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-2">
                    <a href="https://2019.flowcon.io/" target="_blank">
                        <div class="icon_box_one">
                            <div class="content text-center">
                                <h4>2019</h4>
                                <p>{{ .Params.previous_editions_content }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-2">
                    <a href="https://2019.flowcon.io/" target="_blank">
                        <div class="icon_box_one">
                            <div class="content text-center">
                                <h4>2019</h4>
                                <p>{{ .Params.previous_editions_content }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-2">
                    <a href="https://2022.flowcon.io/" target="_blank">
                        <div class="icon_box_one">
                            <div class="content text-center">
                                <h4>2022</h4>
                                <p>{{ .Params.previous_editions_content }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-2 text-center align-middle">
                    <a href="https://2024.flowcon.io/" target="_blank">
                        <div class="icon_box_one">
                            <div class="content text-center">
                                <h4>2024</h4>
                                <p>{{ .Params.previous_editions_content }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!--previously end -->

    <!--Price section-->
    <a class="anchor" id="tickets"></a>
    <section class="pt50">
        <div class="container">
            <div class="section_title mb50">
                <h3 class="title">
                    Tickets
                </h3>
            </div>

            <div class="row justify-content-center">

                <div class="col-md-4 col-12">
                    <div class="price_box active">
                        <div class="price_highlight">
                            sold out
                        </div>
                        <div class="price_header">
                            <h4>
                                Early Flow
                            </h4>
                        </div>
                        <div class="price_tag">
                            375 <sup>€</sup>
                        </div>
                        <div class="price_features">
                        </div>
                        <div class="price_footer">
                            <button class="btn btn-dark btn-rounded" disabled>Sold Out</button>
                        </div>
                    </div>
                </div>     

                <div class="col-md-4 col-12">
                    <div class="price_box">
                        <div class="price_header">
                            <h4>
                                Standard 
                            </h4>
                        </div>
                        <div class="price_tag">
                            525 <sup>€</sup>
                        </div>
                        <div class="price_features">
                        </div>
                        <div class="price_footer">
                            <a title="{{ .Params.purchase }}" class="btn btn-primary btn-rounded" 
                               href="https://my.weezevent.com/flowcon-2025"
                               class="weezevent-widget-integration"
                               data-src="https://widget.weezevent.com/ticket/E830578/?code=47384&locale=fr-FR&width_auto=1&color_primary=00AEEF"
                               data-width="650"
                               data-height="600"
                               data-id="830578"
                               data-resize="1"
                               data-width_auto="1"
                               data-noscroll="0"
                               data-use-container="yes"
                               data-type="neo"
                               target="_blank">{{ .Params.purchase }}</a>
                        </div>
                    </div>
                </div>     

                <div class="col-md-4 col-12">
                    <div class="price_box active">
                        <div class="price_header">
                            <h4>
                                Late Flow
                            </h4>
                        </div>
                        <div class="price_tag">
                            675 <sup>€</sup>
                        </div>
                        <div class="price_features">
                        </div>
                        <div class="price_footer">
                            <a title="{{ .Params.purchase }}" class="btn btn-primary btn-rounded" 
                               href="https://my.weezevent.com/flowcon-2025"
                               class="weezevent-widget-integration"
                               data-src="https://widget.weezevent.com/ticket/E830578/?code=47384&locale=fr-FR&width_auto=1&color_primary=00AEEF"
                               data-width="650"
                               data-height="600"
                               data-id="830578"
                               data-resize="1"
                               data-width_auto="1"
                               data-noscroll="0"
                               data-use-container="yes"
                               data-type="neo"
                               target="_blank">{{ .Params.purchase }}</a>
                        </div>
                    </div>
                </div>  

<!-- <div class="col-md-4 col-12">
    
<a title="Logiciel billetterie en ligne" href="https://www.weezevent.com/widget_multi.php?10139.1.1.bo" class="weezevent-widget-integration" target="_blank" data-src="https://www.weezevent.com/widget_multi.php?10139.1.1.bo" data-width="550" data-height="450" data-id="multi" data-resize="0" data-npb="0" data-width_auto="0">Billetterie Weezevent</a><script type="text/javascript" src="https://www.weezevent.com/js/widget/min/widget.min.js"></script>

</div> -->


<!--                 <div class="col-md-4 col-12">
                    <div class="price_box sold_out">
                        <div class="price_highlight">
                            current
                        </div>
                        <div class="price_header">
                            <h4>
                                Early Bird
                            </h4>
                            <h6>
                                {{ .Params.enterprise_price }}
                            </h6>
                        </div>
                        <div class="price_tag">
                            375 <sup>€</sup>
                        </div>
                        <div class="price_footer">
                            <a href="https://my.weezevent.com/flowcon-2025"
                                class="btn btn-dark btn-rounded">Buy</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="price_box sold_out">
                        <div class="price_highlight">
                            current
                        </div>
                        <div class="price_header">
                            <h4>
                                Early Bird
                            </h4>
                            <h6>
                                {{ .Params.personal_price }}
                            </h6>
                        </div>
                        <div class="price_tag">
                            375 <sup>€</sup>
                        </div>
                        <div class="price_features">
                        </div>
                        <div class="price_footer">
                            <a href="https://my.weezevent.com/flowcon-2025"
                                class="btn btn-dark btn-rounded btn-disabled">Buy</a>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col-md-4 col-12">
                    <div class="price_box sold_out">
                        <<div class="price_highlight">
                            sold out
                        </div>
                        <div class="price_header">
                            <h4>
                                Late bird
                            </h4>
                        </div>
                        <div class="price_tag">
                            600 <sup>€</sup>
                        </div>
                        <div class="price_footer">
                            <a href="https://my.weezevent.com/flowcon-2025"
                                class="btn btn-dark btn-rounded">Buy</a>
                            </a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <!--price section end -->

    <!-- professional training section -->
    <!-- professional training ??
    {{ with .Site.GetPage "/training" }}{{ .Content }}{{ end }}
    -->
    <!-- professional training section end -->

    <!--sponsor section -->
    <a class="anchor" id="sponsoring"></a>
    <section class="pt50 pb50">
        <div class="container">
            <div class="section_title mb50">
                <h3 class="title">
                    {{ .Params.sponsor }}
                </h3>
            </div>
            <div id="platinum-sponsors" class="card">
                <div class="card-body">
                    <h5 class="card-title">Platinum</h5>
                    <!--div class="row justify-content-center align-items-center">
                        <div class="col-sm-6 text-center">
                            <figure>
                                <img src="/img/brands/credit-agricole.png" alt="Crédit Agricole">
                                <figcaption>Crédit Agricole</figcaption>
                            </figure>
                        </div>
                        <div class="col-sm-6 text-center">
                            <figure>
                                <img src="/img/brands/insee.jpg" alt="INSEE">
                                <figcaption>INSEE</figcaption>
                            </figure>
                        </div>
                    <div-->
                </div->
            </div>
            <div id="gold-sponsors" class="card">
                <div class="card-body">
                    <h5 class="card-title">Gold</h5>
                    <div class="row justify-content-center align-items-center">
                        <div class="col-sm-4 text-center">
                            <figure>
                                <img src="/img/brands/github.png" alt="GitHub">
                                <figcaption>GitHub</figcaption>
                            </figure>
                        </div>
                        <div class="col-sm-4 text-center">
                            <figure>
                                <img src="/img/brands/operae-partners.png" alt="Operae Parners">
                                <figcaption>Operae Partners</figcaption>
                            </figure>
                        </div>
                        <div class="col-sm-4 text-center">
                            <figure>
                                <img src="/img/brands/leboncoin-tech.png" alt="leboncoin">
                                <figcaption>leboncoin tech</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div id="silver-sponsors" class="card">
                <div class="card-body">
                    <h5 class="card-title">Silver</h5>
                    <div class="row justify-content-center align-items-center">
                        <div class="col-sm-2 text-center">
                            <figure>
                                <img src="/img/brands/zen-value.png" alt="Zen Value">
                                <figcaption>Zen Value</figcaption>
                            </figure>
                        </div>               
                        <!--div class="col-sm-3 text-center">
                            <figure>
                                <img src="/img/brands/kudja.png" alt="Kudja">
                                <figcaption>Kudja</figcaption>
                            </figure>
                        </div>
                        <div class="col-sm-3 text-center">
                            <figure>
                                <img src="/img/brands/reacteev.png" alt="Reacteev">
                                <figcaption>Reacteev</figcaption>
                            </figure>
                        </div-->
  
                        <!--div class="col-sm-3 text-center">
                            <figure>
                                <img src="/img/brands/publicis-sapient.png" alt="Publicis Sapient">
                                <figcaption>Publicis Sapient</figcaption>
                            </figure>
                        </div-->
                    </div>
                </div>
            </div>
            <div id="bronze-sponsors" class="card">
                <div class="card-body">
                    <h5 class="card-title">Bronze</h5>
                    <div class="row justify-content-center align-items-center">
                        <div class="col-sm-2 text-center">
                            <figure>
                                <img src="/img/brands/hackyourjob.png" alt="HackYourJob">
                                <figcaption>HackYourJob</figcaption>
                            </figure>
                        </div>                    
                        <div class="col-sm-3 text-center">
                            <figure>
                                <img src="/img/brands/agile-partner.png" alt="Agile Partner">
                                <figcaption>Agile Partner</figcaption>
                            </figure>
                        </div>
                        <div class="col-sm-3 text-center">
                            <figure>
                                <img src="/img/brands/arolla.png" alt="Arolla">
                                <figcaption>Arolla</figcaption>
                            </figure>
                        </div> 
                    </div>
                </div>
            </div>
            <a href="{{ .Params.sponsor_pdf}}" class="mt20 btn btn-primary btn-rounded">
                {{ .Params.sponsor_contact }}
            </a>
        </div>
    </section>
    <!--brands section end-->

    <!--contact section start-->
    <a class="anchor" id="contact"></a>
    <section class="pt50 pb50">
        <div class="container">
            <div class="section_title mb50">
                <h3 class="title">
                    {{ .Params.contact_us_title }}
                </h3>
            </div>
            <div class="row justify-content-center  ">
                <div class="col-md-4 col-12">
                    <div class="contact_info">
                        <h5>
                            {{ .Params.contact_us }}
                        </h5>
                        <p>
                            {{ .Params.contact_us_text }}
                        </p>
                        <ul class="social_list">
                            <li>
                                <a href="https://twitter.com/FlowConFR">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8 col-12">
                    <div class="contact_form">
<iframe data-tally-src="https://tally.so/embed/nGQO2k?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1" loading="lazy" width="100%" height="313" frameborder="0" marginheight="0" marginwidth="0" title="Contact form
"></iframe>
<script>var d=document,w="https://tally.so/widgets/embed.js",v=function(){"undefined"!=typeof Tally?Tally.loadEmbeds():d.querySelectorAll("iframe[data-tally-src]:not([src])").forEach((function(e){e.src=e.dataset.tallySrc}))};if("undefined"!=typeof Tally)v();else if(d.querySelector('script[src="'+w+'"]')==null){var s=d.createElement("script");s.src=w,s.onload=v,s.onerror=v,d.body.appendChild(s);}</script>
                    </div>
                </div>
            </div>

        </div>
    </section>

    {{ partial "footer.html" . }}
