<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>
    <div class="loader">
        <div class="loader-outter"></div>
        <div class="loader-inner"></div>
    </div>

    {{ partial "header.html" . }}


    <!--location -->
    <section class="pt100 pb50">
        <div class="container">
            <div class="section_title">
                <h3 class="title">
                    {{ .Params.description }}
                </h3>
            </div>
            <div class="row justify-content-left mt30">
                <div class="col-12 col-md-4">
                    <p>{{ .Params.address }}:</p>
                    <p><a href="https://goo.gl/maps/opvYzKYAxHxmTRjV6">
                        Beffroi de Montrouge,<br /> Avenue de la
                            République,<br /> 92120 Montrouge</a>
                    </p>
                    <p>Transports</p>
                    <ul>
                        <li>Metro - ligne 4, station Mairie de Montrouge</li>
                        <li>Tramway - ligne 3, station Porte d’Orléans</li>
                        <li>Bus lignes - 68, 126, 128, station Mairie de Montrouge</li>
                        <li>Parking - <a href="https://goo.gl/maps/NqkvpX6Sq1jLAnHf9">Emile Cresp, 1 Place Emile Cresp, 92120 Montrouge</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-4">
                    <img src="/img/location/BeffroiDeMontrouge.jpg" width="320" height="240" alt="Beffroi de Montrouge"
                        class="rounded">
                </div>
                <div class="col-12 col-md-4">
                    <img src="/img/location/BeffroiDeMontrougeSalle.jpg" width="320" height="240"
                        alt="Salle - Beffroi de Montrouge" class="rounded">
                </div>
            </div>

            <div class="row justify-content-left mt30">
                <div class="col-12">
                    <!-- professional training section -->
                    {{ with .Site.GetPage "/transport" }}{{ .Content }}{{ end }}
                    <!-- professional training section end -->
                </div>
            </div>

            <div class="row justify-content-left mt30">
                <div class="col-12">
                    <iframe class="embed-responsive embed-responsive-1by1" style="width: 100%;height:400px;"
                        src="https://www.google.com/maps/d/u/0/embed?mid=1jUYC-Vv88Yd094qKc30JHgjJLqnbrCZe">
                    </iframe>
                </div>
            </div>
            <div class="row justify-content-left mt30">
                <div class="col-12">

                        <p>{{ .Params.hotel }}</p>
                        <ul>
                            <li>
                                <a href="https://www.booking.com/hotel/fr/hotelparissud.fr.html">
                                    Ibis Styles Paris Porte d'Orléans
                                </a>
                            </li>
                            <li>
                                <a href="https://www.booking.com/hotel/fr/paris-orleans.fr.html">
                                    Mercure Paris Alesia
                                </a>
                            </li>
                            <li>
                                <a href="https://www.booking.com/hotel/fr/acropole-paris.fr.html">
                                    Acropole
                                </a>
                            </li>
                            <li>
                                <a href="https://www.booking.com/hotel/fr/virgina.fr.html">
                                    Virgina
                                </a>
                            </li>
                            <li>
                                <a href="https://www.booking.com/hotel/fr/residence-montrouge.fr.html">
                                    Comfort Hotel Sixteen Paris Montrouge
                                </a>
                            </li>
                        </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- location end -->

    {{ partial "footer.html" . }}